<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ir.drax.netwatch" >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <application>

        <service android:name=".OnKillApp"
            android:stopWithTask="false" />

    </application>
</manifest>
